<nav>
	<div class="sidebar" [ngClass]="exercise ? 'zeroWidth' : 'fullWidth'">
		<div class="headerMenu">
			<a routerLink="/"><i class="material-icons">home</i></a>
			<select name="selectedOption"
				[(ngModel)]="selectedMuscle"
				(change)="route(selectedMuscle)"
				materialize="material_select"
				[materializeSelectOptions]="muscleList">
				<option value="">Workout</option>
				<option *ngFor="let muscle of muscleList"
					[value]="muscle.name"
					[textContent]="muscle.cname"
					[attr.data-icon]="muscle.seq ? 'assets/images/'+muscle.name+'.jpg' : ''">
				</option>
			</select>
		</div>
	</div>
	<div class="content"  [ngClass]="!exercise ? 'zeroWidth' : 'fullWidth'">
		<i class="material-icons"
			(click)="back()">arrow_back</i>
		<span class="title">{{title}}</span>

		<div class="tools">
			<a routerLink="/"><i class="material-icons">settings</i></a>
		</div>
	</div>

</nav>
