.splitView{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: calc(100vh - 113px);
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 113px
}
.sidebar{
	background: #fff;
	border-right: 1px solid rgba(128, 128, 128, .25);
	-webkit-flex-basis: 30%;
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	max-width: 480px;
	min-width: 300px;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 1px;
	position: relative
}
.content{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
	overflow: hidden;	
}
.rightPanel{
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 1.5rem 1.5rem;
	position: relative;
	width: 100%
}
@media only screen and (max-width: 768px){
	.splitView{
		height: auto;
		margin-bottom: 3rem;
		min-height: calc(100vh - 113px);
		position: relative;
		top: 0
	}
	.sidebar{
		border: 0;
		-webkit-flex-basis: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: none;
		overflow-y: hidden;
		position: relative
	}
	.rightPanel{
		overflow-y: hidden;
		padding: 0
	}
}